<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <div class="form-container">
        <div class="form-row">
            <h1>RAF</h1>
        </div>
        <div class="form-row">
            <input type="text"><br><br><br>
        </div>
        <button id="searchButton">SEARCH</button>
        <div class="form-row">
            <h1>ID</h1>
            <h1>pieces</h1>
            <h1>features</h1>
        </div>
            <section id="raf-list">
                <%pakets.forEach((paket)=>{%>
                    <div class="form-row-minor">
                        <a href="/paketsorgu/<%= paket.packageId %>"><h2 ><%=paket.packageId%></h2></a>
                        <h2><%=paket.numberOfPieces%></h2>
                        <h2><%=paket.features%></h2>
                    </div>
                <%})%>
            </section>
        <div>
            <button id="saveButton" >SAVE</button>
        </div>
    </div>
</body>
</html>
